<%= render 'pages/home' unless user_signed_in? %>

<div class="panel panel-default search-panel">
  <%= search_form_for @search do |f| %>
    <div class="search-group form-group">
      <%= f.label :user_name_cont, "Artist Name" %>
      <%= f.text_field :user_name_cont, class: "search-field" %>
    </div>

    <div class="search-group form-group">
      <%= f.label :price_gteq, "Price between" %>
      <%= f.text_field :price_gteq, class: "search-field" %>
      <%= f.label :price_lteq, "and" %>
      <%= f.text_field :price_lteq, class: "search-field" %>
    </div>

    <div class="search-group form-group">
      <%= f.submit "Search", class: "btn btn-default" %>
      <%= f.submit "Clear", class: "btn btn-default", id:"q_reset" %>
    </div>  
  <% end %>
</div>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <%= pin.description %><br/>
        <strong><%= pin.user.name if pin.user %></strong><br/>
        <%= pin.user.email if pin.user %><br/>
        $<%= pin.price %><br/>
        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to edit_pin_path(pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>